In [59]:
import pandas as pd
import numpy as np

In [60]:
data = pd.read_csv("datathon-2024/clean-test-data-v1.csv")
data = data.apply(lambda col: col.str.upper() if col.dtype == 'object' else col)

In [73]:
org_data = pd.read_csv('datathon-2024/train.csv')
new_data = pd.read_csv('datathon-2024/tag-data.csv')

C:\Users\ahayd\AppData\Local\Temp\ipykernel_12808\118248068.py:1: DtypeWarning: Columns (13,15,19,30,32,37,41,42) have mixed types. Specify dtype option on import or set low_memory=False.
  org_data = pd.read_csv('datathon-2024/train.csv')

In [72]:
# data.to_csv("datathon-2024/clean-data-v3.csv", index=False)

In [141]:
org = pd.read_csv("datathon-2024/train.csv")

C:\Users\ahayd\AppData\Local\Temp\ipykernel_16356\243285885.py:1: DtypeWarning: Columns (13,15,19,30,32,37,41,42) have mixed types. Specify dtype option on import or set low_memory=False.
  org = pd.read_csv("datathon-2024/train.csv")

In [74]:
# data["Degerlendirme Puani"] = org["Degerlendirme Puani"]
# data["Basvuru Yili"] = org["Basvuru Yili"]

In [4]:
new_data = pd.DataFrame()

In [115]:
new_data

Empty DataFrame
Columns: []
Index: []

# Kullanılan Fonksiyonlar

In [6]:
def normalize_names(names):
    if pd.isna(names):
        return names
    
    # Türkçe karakterleri İngilizce karşılıklarına çeviriyoruz
    replacements = {
        'Ç': 'C', 'Ş': 'S', 'Ğ': 'G', 'Ü': 'U', 'Ö': 'O', 'İ': 'I', 'ı': 'I', 'ç': 'C', 'ş': 'S', 'ğ': 'G', 'ü': 'U', 'ö': 'O', 'i': 'I'
    }
    
    # Şehir adını büyük harfe çevirip Türkçe karakterleri dönüştürüyoruz
    name_normalized = names.strip().upper()
    for turkish_char, english_char in replacements.items():
        name_normalized = name_normalized.replace(turkish_char, english_char)
    
    return name_normalized

def label_names(df, column_name, file_name):

    

    # Kolonun değerlerini normalize ederek temizleyin
    df[column_name] = df[column_name].astype(str).str.strip().str.upper()
    
    # Benzersiz şehirler ve etiket numaralarını oluşturuyoruz
    unique_cities = df[column_name].unique()
    city_labels = {city: i + 1 for i, city in enumerate(sorted(set(unique_cities))) if city != ''}
    
    # Şehirsizler için 0 etiketi ekliyoruz (bu örnekte yok ama ekleyebiliriz)
    # city_labels['NONE'] = 0  
    
    # Şehirler için etiket numaraları oluşturuyoruz
    new_df = df[column_name].map(city_labels)

    # Etiketleri ayrı bir CSV dosyasına kaydediyoruz
    labels_df = pd.DataFrame(list(city_labels.items()), columns=[f'{column_name}', 'Label'])
    labels_df.to_csv(f'labels/{file_name}_labels.csv', index=False)

    return new_df

In [78]:
data.head(5)

,Ikametgah Sehri,Universite Adi,Bölüm,Lise Bolumu,Basvuru Yili,Degerlendirme Puani,Dogum Tarihi,Universite Turu,Universite Kacinci Sinif,Universite Not Ortalamasi,...,Profesyonel Bir Spor Daliyla Mesgul musunuz?,Aktif olarak bir STK üyesi misiniz?,Stk Projesine Katildiniz Mi?,Girisimcilikle Ilgili Deneyiminiz Var Mi?,Ingilizce Biliyor musunuz?,Ingilizce Seviyeniz?,id,Cinsiyet,Yas,city_label
0,ANKARA,IHSAN DOGRAMACI BILKENT,BILGISAYAR MUHENDISLIGI,MF,2014,52.0,1994-04-06 00:00:00,ÖZEL,3,3.50-3,...,EVET,HAYIR,EVET,HAYIR,NaN,NaN,0.0,ERKEK,20.0,14
1,ISTANBUL,IHSAN DOGRAMACI BILKENT,ELEKTRIK ELEKTRONIK MUHENDISLIGI,MF,2014,30.0,1993-06-11 00:00:00,ÖZEL,3,3.00-2.50,...,HAYIR,HAYIR,EVET,EVET,NaN,NaN,1.0,ERKEK,21.0,81
2,ISTANBUL,ULUSLARARASI KIBRIS UNIVERSITESI,FINANS YONETIMI VE PAZARLAMA,ELEKTIRK,2014,18.0,1986-01-15 00:00:00,ÖZEL,1,NaN,...,HAYIR,HAYIR,HAYIR,HAYIR,NaN,NaN,2.0,ERKEK,28.0,81
3,ISTANBUL,ISTANBUL SEHIR UNIVERSITESI,BILGISAYAR MUHENDISLIGI,SAYISAL,2014,40.0,1991-06-04 00:00:00,ÖZEL,3,3.00-2.50,...,HAYIR,HAYIR,EVET,HAYIR,NaN,NaN,3.0,ERKEK,23.0,81
4,ANKARA,TURGUT OZAL UNIVERSITESI,SIYASET BILIMI VE ULUSLARARASI ILISKILER,TM,2014,24.0,?,ÖZEL,NaN,3.00-2.50,...,HAYIR,HAYIR,HAYIR,HAYIR,NaN,NaN,4.0,ERKEK,NaN,14

Ikametgah Sehirleri Etiketleme

In [117]:
cities_list = [
    'ADANA', 'ADIYAMAN', 'AFYONKARAHİSAR', 'AĞRI', 'AMASYA', 'ANKARA', 'ANTALYA', 'ARTVİN', 
    'AYDIN', 'BALIKESİR', 'BİLECİK', 'BİNGÖL', 'BİTLİS', 'BOLU', 'BURDUR', 'BURSA', 'ÇANAKKALE', 
    'ÇANKIRI', 'ÇORUM', 'DENİZLİ', 'DİYARBAKIR', 'EDİRNE', 'ELAZIĞ', 'ERZİNCAN', 'ERZURUM', 
    'ESKİŞEHİR', 'GAZİANTEP', 'GİRESUN', 'GÜMÜŞHANE', 'HAKKARİ', 'HATAY', 'ISPARTA', 'MERSİN', 
    'İSTANBUL', 'İZMİR', 'KARS', 'KASTAMONU', 'KAYSERİ', 'KIRKLARELİ', 'KIRŞEHİR', 'KOCAELİ', 
    'KONYA', 'KÜTAHYA', 'MALATYA', 'MANİSA', 'KAHRAMANMARAŞ', 'MARDİN', 'MUĞLA', 'MUŞ', 'NEVŞEHİR', 
    'NİĞDE', 'ORDU', 'RİZE', 'SAKARYA', 'SAMSUN', 'SİİRT', 'SİNOP', 'SİVAS', 'TEKİRDAĞ', 
    'TOKAT', 'TRABZON', 'TUNCELİ', 'ŞANLIURFA', 'UŞAK', 'VAN', 'YOZGAT', 'ZONGULDAK', 
    'AKSARAY', 'BAYBURT', 'KARAMAN', 'KIRIKKALE', 'BATMAN', 'ŞIRNAK', 'BARTIN', 'ARDAHAN', 
    'IĞDIR', 'YALOVA', 'KARABÜK', 'KİLİS', 'OSMANİYE', 'DÜZCE'
]

In [118]:
# Şehir-ilçe ayrımını yapmak için "/" işareti ile ayırıyoruz
data['split_sehir'] = data['Ikametgah Sehri'].astype(str).str.split('/')

# Şehir ismini şehir listesiyle kontrol eden fonksiyon
def get_correct_city(parts, city_list):
    part_1 = parts[0].strip().upper()  # "/" öncesi
    part_2 = parts[1].strip().upper() if len(parts) > 1 else ''  # "/" sonrası (eğer varsa)
    
    # İlk veya ikinci kısmı şehir listesinde arıyoruz
    if part_1 in city_list:
        return part_1
    elif part_2 in city_list:
        return part_2
    else:
        return parts[0]  # Eğer 81 il listesinde değilse olduğu gibi bırakıyoruz

# Doğru şehri buluyoruz
data['Ikametgah Sehri'] = data['split_sehir'].apply(lambda x: get_correct_city(x, cities_list))

# Geçici split_sehir kolonunu temizliyoruz
data.drop(columns=['split_sehir'], inplace=True)

# Sonuçları gösterelim

In [119]:


# Şehir kolonunu normalize ediyoruz
data['Ikametgah Sehri'] = data['Ikametgah Sehri'].apply(normalize_names)

# Sonuçları gösterelim
print(data['Ikametgah Sehri'].value_counts())

Ikametgah Sehri
ISTANBUL      3301
ANKARA        1132
IZMIR          509
DIYARBAKIR     327
HATAY          325
              ...
SINOP           11
CANKIRI         10
BARTIN           9
GUMUSHANE        8
ARDAHAN          6
Name: count, Length: 83, dtype: int64

# şehir etiketleme

In [120]:



# Etiketleme işlemini uygulayalım
new_data["Sehir Tag"] = label_names(data, "Ikametgah Sehri", "city")

In [83]:
# new_data.to_csv("datathon-2024/tag-test-data.csv", index=False)

okul ismi normalize

In [7]:

# kolonunu normalize ediyoruz
data['Universite Adi'] = data['Universite Adi'].apply(normalize_names)

# Sonuçları gösterelim
print(data['Universite Adi'].value_counts())

Universite Adi
ISTANBUL UNIVERSITESI                  2572
MARMARA UNIVERSITESI                   2084
ISTANBUL TEKNIK UNIVERSITESI           1954
YILDIZ TEKNIK UNIVERSITESI             1916
ORTA DOGU TEKNIK UNIVERSITESI          1658
                                       ...
BARD COLLEGE                              1
HARP AKADEMILERI (KARA, DENIZ,            1
BROWN UNIVERSITY                          1
AVRUPA MESLEK YUKSEKOKULU                 1
MILLI SAVUNMA UNIVERSITESI (ASKERÎ)       1
Name: count, Length: 294, dtype: int64

In [19]:
uni_names = data['Universite Adi'].unique()

KeyError: <class 'str'>

In [16]:
new_data

array(['IHSAN DOGRAMACI BILKENT', 'ULUSLARARASI KIBRIS UNIVERSITESI',
       'ISTANBUL SEHIR UNIVERSITESI', 'TURGUT OZAL UNIVERSITESI',
       'ISTANBUL TICARET UNIVERSITESI', 'ISTANBUL MEDIPOL UNIVERSITESI',
       'FATIH SULTAN MEHMET VAKIF', 'BAHCESEHIR UNIVERSITESI',
       'NUH NACI YAZGAN UNIVERSITESI', 'FATIH UNIVERSITESI',
       'BASKENT UNIVERSITESI', 'CAG UNIVERSITESI', 'IZMIR UNIVERSITESI',
       'ZIRVE UNIVERSITESI', 'YASAR UNIVERSITESI',
       'ISTANBUL AREL UNIVERSITESI', 'TED UNIVERSITESI',
       'YENI YUZYIL UNIVERSITESI', 'IZMIR EKONOMI UNIVERSITESI',
       'ISTANBUL BILGI UNIVERSITESI', 'ISTANBUL GELISIM UNIVERSITESI',
       'BEYKENT UNIVERSITESI', 'AVRASYA UNIVERSITESI',
       'OKAN UNIVERSITESI', 'KOC UNIVERSITESI', 'HALIC UNIVERSITESI',
       'ISIK UNIVERSITESI', 'ATILIM UNIVERSITESI',
       'NISANTASI UNIVERSITESI', 'ISTANBUL AYDIN UNIVERSITESI',
       'UFUK UNIVERSITESI', 'SABANCI UNIVERSITESI',
       'ISTANBUL 29 MAYIS UNIVERSITESI', 'MALTEPE UNIVERSITESI',
       'ULUSLARARASI ANTALYA UNIVERSITESI', 'TOBB EKONOMI VE TEKNOLOJI',
       'KTO KARATAY UNIVERSITESI', 'CANKAYA UNIVERSITESI',
       'ISTANBUL KULTUR UNIVERSITESI', 'YEDITEPE UNIVERSITESI',
       'GIRNE AMERIKAN UNIVERSITESI', 'HASAN KALYONCU UNIVERSITESI',
       'USKUDAR UNIVERSITESI', 'MELIKSAH UNIVERSITESI',
       'CANIK BASARI UNIVERSITESI', 'KADIR HAS UNIVERSITESI',
       'ISTANBUL ESENYURT UNIVERSITESI', 'ISTANBUL KAVRAM MESLEK',
       'ISTANBUL KEMERBURGAZ UNIVERSITESI', 'YAKIN DOGU UNIVERSITESI',
       'GEDIZ UNIVERSITESI', 'GEDIK UNIVERSITESI',
       'ISTANBUL BILIM UNIVERSITESI', 'SIFA UNIVERSITESI',
       'OZYEGIN UNIVERSITESI', 'TOROS UNIVERSITESI',
       'PIRI REIS UNIVERSITESI', 'DOGU AKDENIZ UNIVERSITESI',
       'ULUDAG UNIVERSITESI', 'BURSA ORHANGAZI UNIVERSITESI',
       'GIRESUN UNIVERSITESI', 'DOGUS UNIVERSITESI',
       'BEYKOZ LOJISTIK MESLEK', 'TURK HAVA KURUMU UNIVERSITESI',
       'HACETTEPE UNIVERSITESI', 'ISTANBUL SABAHATTIN ZAIM',
       'BOGAZICI UNIVERSITESI', 'MEVLANA UNIVERSITESI',
       'OSMANIYE KORKUT ATA UNIVERSITESI', 'LEFKE AVRUPA UNIVERSITESI',
       'ORTA DOGU TEKNIK UNIVERSITESI', 'AMASYA UNIVERSITESI',
       'KOCAELI UNIVERSITESI', 'FIRAT UNIVERSITESI',
       'ACIBADEM UNIVERSITESI', 'SULEYMAN SAH UNIVERSITESI',
       'MEF UNIVERSITESI', 'PLATO MESLEK YUKSEKOKULU',
       'ANADOLU UNIVERSITESI', 'IPEK UNIVERSITESI',
       'ABANT IZZET BAYSAL UNIVERSITESI', 'ISTANBUL UNIVERSITESI',
       'ALANYA HAMDULLAH EMIN PASA', 'BEZM-I ALEM VAKIF UNIVERSITESI',
       'RECEP TAYYIP ERDOGAN UNIVERSITESI', 'CUKUROVA UNIVERSITESI',
       'BALIKESIR UNIVERSITESI', 'IHSAN DOGRAMACI BILKENT UNIVERSITESI',
       'ISTANBUL TEKNIK UNIVERSITESI',
       'ISTANBUL SABAHATTIN ZAIM UNIVERSITESI',
       'ISTANBUL KAVRAM MESLEK YUKSEKOKULU',
       'TOBB EKONOMI VE TEKNOLOJI UNIVERSITESI', 'MERSIN UNIVERSITESI',
       'BIRUNI UNIVERSITESI', 'KAFKAS UNIVERSITESI',
       'AGRI IBRAHIM CECEN UNIVERSITESI', 'YILDIRIM BEYAZIT UNIVERSITESI',
       'ANKARA UNIVERSITESI', 'GAZI UNIVERSITESI', 'MARMARA UNIVERSITESI',
       'CANAKKALE ONSEKIZ MART', 'DICLE UNIVERSITESI',
       'SAKARYA UNIVERSITESI', 'SULEYMAN DEMIREL UNIVERSITESI',
       'DUMLUPINAR UNIVERSITESI', 'KIRKLARELI UNIVERSITESI',
       'BAYBURT UNIVERSITESI', 'ONDOKUZ MAYIS UNIVERSITESI',
       'BULENT ECEVIT UNIVERSITESI', 'GAZIOSMANPASA UNIVERSITESI',
       'KARADENIZ TEKNIK UNIVERSITESI', 'DIGER',
       'NAMIK KEMAL UNIVERSITESI', 'CANKIRI KARATEKIN UNIVERSITESI',
       'KARABUK UNIVERSITESI', 'MEHMET AKIF ERSOY UNIVERSITESI',
       'ERZINCAN UNIVERSITESI', 'SIIRT UNIVERSITESI',
       'TURK-ALMAN UNIVERSITESI', 'TRAKYA UNIVERSITESI',
       'NECMETTIN ERBAKAN UNIVERSITESI', 'SINOP UNIVERSITESI',
       'KASTAMONU UNIVERSITESI', 'YILDIZ TEKNIK UNIVERSITESI',
       'ATATURK UNIVERSITESI', 'ADNAN MENDERES UNIVERSITESI',
       'IZMIR KATIP CELEBI UNIVERSITESI', 'CELAL BAYAR UNIVERSITESI',
       'USAK UNIVERSITESI', 'MUGLA SITKI KOCMAN UNIVERSITESI',
       'ERCIYES UNIVERSITESI', 'AKDENIZ UNIVERSITESI',
       'GAZIANTEP UNIVERSITESI', 'MUSTAFA KEMAL UNIVERSITESI',
       'YUZUNCU YIL UNIVERSITESI', 'ESKISEHIR OSMANGAZI UNIVERSITESI',
       'BINGOL UNIVERSITESI', 'AKSARAY UNIVERSITESI', 'EGE UNIVERSITESI',
       'KONYA TARIM VE GIDA UNIVERSITESI', 'GUMUSHANE UNIVERSITESI',
       'PAMUKKALE UNIVERSITESI', 'ABDULLAH GUL UNIVERSITESI',
       'SELCUK UNIVERSITESI', 'GALATASARAY UNIVERSITESI',
       'BILECIK SEYH EDEBALI UNIVERSITESI', 'MARDIN ARTUKLU UNIVERSITESI',
       'CUMHURIYET UNIVERSITESI', 'ISTANBUL MEDENIYET UNIVERSITESI',
       'ADIYAMAN UNIVERSITESI', 'KAHRAMANMARAS SUTCU IMAM',
       'DOKUZ EYLUL UNIVERSITESI', 'YALOVA UNIVERSITESI',
       'HARRAN UNIVERSITESI', 'IGDIR UNIVERSITESI',
       'MUS ALPARSLAN UNIVERSITESI', 'BURSA TEKNIK UNIVERSITESI',
       'GEBZE YUKSEK TEKNOLOJI ENSTITUSU', 'KARAMANOGLU MEHMETBEY', nan,
       'TUNCELI UNIVERSITESI', 'SIRNAK UNIVERSITESI',
       'NEVSEHIR HACI BEKTAS VELI', 'BOZOK UNIVERSITESI',
       'KAPADOKYA MESLEK YUKSEKOKULU', 'ADANA BILIM VE TEKNOLOJI',
       'HITIT UNIVERSITESI', 'NIGDE UNIVERSITESI',
       'MIMAR SINAN GUZEL SANATLAR', 'INONU UNIVERSITESI',
       'BITLIS EREN UNIVERSITESI', 'ARTVIN CORUH UNIVERSITESI',
       'AFYON KOCATEPE UNIVERSITESI', 'DUZCE UNIVERSITESI',
       'BARTIN UNIVERSITESI', 'KIRIKKALE UNIVERSITESI',
       'ERZINCAN BINALI YILDIRIM UNIVERSITESI',
       'HATAY MUSTAFA KEMAL UNIVERSITESI',
       'FATIH SULTAN MEHMET VAKIF UNIVERSITESI', 'AYDIN ADNAN MENDERES',
       'ISTANBUL GEDIK UNIVERSITESI', 'VAN YUZUNCU YIL UNIVERSITESI',
       'ISTANBUL OKAN UNIVERSITESI',
       'MIMAR SINAN GUZEL SANATLAR UNIVERSITESI',
       'ACIBADEM MEHMET ALI AYDINLAR UNIVERSITESI',
       'TEKIRDAG NAMIK KEMAL UNIVERSITESI', 'ALTINBAS UNIVERSITESI',
       'IZMIR YUKSEK TEKNOLOJI ENSTITUSU',
       'BEZM-I ÂLEM VAKIF UNIVERSITESI', 'FENERBAHCE UNIVERSITESI',
       'SAGLIK BILIMLERI UNIVERSITESI',
       'ISTANBUL AYVANSARAY UNIVERSITESI', 'ISTINYE UNIVERSITESI',
       'ISTANBUL UNIVERSITESI-', 'IZMIR KAVRAM MESLEK UNIVERSITESI',
       'DEMIROGLU BILIM UNIVERSITESI', 'ISTANBUL RUMELI UNIVERSITESI',
       'BEYKOZ UNIVERSITESI', 'IBN HALDUN UNIVERSITESI',
       'KAPADOKYA UNIVERSITESI', 'IZMIR DEMOKRASI UNIVERSITESI',
       'NIGDE OMER HALISDEMIR', 'ISTANBUL KENT UNIVERSITESI',
       'BURSA ULUDAG UNIVERSITESI', 'KARAMANOGLU MEHMETBEY UNIVERSITESI',
       'KONYA GIDA VE TARIM UNIVERSITESI',
       'ZONGULDAK BULENT ECEVIT UNIVERSITESI',
       'ESKISEHIR TEKNIK UNIVERSITESI',
       'KOCAELI SAGLIK VE TEKNOLOJI UNIVERSITESI',
       'KIRSEHIR AHI EVRAN UNIVERSITESI', 'ANKARA MEDIPOL UNIVERSITESI',
       'ANKARA YILDIRIM BEYAZIT UNIVERSITESI',
       'OSTIM TEKNIK UNIVERSITESI', 'MUNZUR UNIVERSITESI',
       'TOKAT GAZIOSMANPASA UNIVERSITESI',
       'SIVAS CUMHURIYET UNIVERSITESI', 'KILIS 7 ARALIK UNIVERSITESI',
       'CANAKKALE ONSEKIZ MART UNIVERSITESI',
       'ANKARA HACI BAYRAM VELI UNIVERSITESI',
       'ISTANBUL YENI YUZYIL UNIVERSITESI', 'BATMAN UNIVERSITESI',
       'TRABZON UNIVERSITESI', 'ANKARA SOSYAL BILIMLER UNIVERSITESI',
       'ISPARTA UYGULAMALI BILIMLER UNIVERSITESI',
       'KAHRAMANMARAS SUTCU IMAM UNIVERSITESI',
       'MANISA CELÂL BAYAR UNIVERSITESI',
       'ISTANBUL SAGLIK VE TEKNOLOJI UNIVERSITESI',
       'ISTANBUL SISLI MESLEK UNIVERSITESI', 'ANTALYA AKEV UNIVERSITESI',
       'KUTAHYA SAGLIK BILIMLERI UNIVERSITESI',
       'ALANYA ALAADDIN KEYKUBAT UNIVERSITESI',
       'AFYONKARAHISAR SAGLIK BILIMLERI UNIVERSITESI',
       'BANDIRMA ONYEDI EYLUL UNIVERSITESI',
       'ISKENDERUN TEKNIK UNIVERSITESI',
       'FARUK SARAC TASARIM MESLEK YUKSEKOKULU (ISTANBUL)',
       'ARDAHAN UNIVERSITESI', 'ISTANBUL GALATA UNIVERSITESI',
       'GEBZE TEKNIK UNIVERSITESI',
       'NEVSEHIR HACI BEKTAS VELI UNIVERSITESI', 'SANKO UNIVERSITESI',
       'ISTANBUL ATLAS UNIVERSITESI', 'HAKKARI UNIVERSITESI',
       'ALANYA HAMDULLAH EMIN PASA UNIVERSITESI',
       'YOZGAT BOZOK UNIVERSITESI', 'KUTAHYA DUMLUPINAR UNIVERSITESI',
       'LOKMAN HEKIM UNIVERSITESI', 'ANTALYA BILIM UNIVERSITESI',
       'ANKARA BILIM UNIVERSITESI', 'IZMIR BAKIRCAY UNIVERSITESI',
       'KONYA TEKNIK UNIVERSITESI', 'ADANA ALPARSLAN TURKES BILIM VE',
       'YUKSEK IHTISAS UNIVERSITESI', 'ISTANBUL SISLI MESLEK YUKSEKOKULU',
       'FARUK SARAC TASARIM MESLEK', 'BEZMIÂLEM UNIVERSITESI',
       'SAMSUN UNIVERSITESI', 'IZMIR TINAZTEPE UNIVERSITESI',
       'SELAHADDIN EYYUBI UNIVERSITESI', 'AVRUPA MESLEK YUKSEKOKULU',
       'ERZURUM TEKNIK UNIVERSITESI',
       'BOLU ABANT IZZET BAYSAL UNIVERSITESI',
       'SAKARYA UYGULAMALI BILIMLER UNIVERSITESI',
       'AKDENIZ KARPAZ UNIVERSITESI', 'KIRGIZISTAN-TURKIYE MANAS',
       'AHI EVRAN UNIVERSITESI', 'ORDU UNIVERSITESI',
       'HOCA AHMET YESEVI TURK-KAZAK', 'ANKARA SOSYAL BILIMLER',
       'POLIS AKADEMISI', 'ADANA BILIM VE TEKNOLOJI UNIVERSITESI',
       'HARP AKADEMILERI (KARA, DENIZ,',
       'BURDUR MEHMET AKIF ERSOY UNIVERSITESI', 'KAYSERI UNIVERSITESI',
       'TARSUS UNIVERSITESI', 'KAHRAMANMARAS ISTIKLAL UNIVERSITESI',
       'ANKARA MUZIK VE GUZEL SANATLAR UNIVERSITESI',
       'MALATYA TURGUT OZAL UNIVERSITESI',
       'GAZIANTEP ISLAM BILIM VE TEKNOLOJI UNIVERSITESI',
       'AYDIN ADNAN MENDERES UNIVERSITESI',
       'MANISA CELAL BAYAR UNIVERSITESI',
       'ADANA ALPARSLAN TURKES BILIM VE TEKNOLOJI UNIVERSITESI',
       'ISTANBUL UNIVERSITESI-CERRAHPASA',
       'NIGDE OMER HALISDEMIR UNIVERSITESI',
       'BEZMIALEM VAKIF UNIVERSITESI', 'BROWN UNIVERSITY',
       'UNIVERSITY OF SOUTHERN CALIFORNIA',
       'IZMIR KÂTIP CELEBI UNIVERSITESI',
       'IZMIR KAVRAM MESLEK YUKSEKOKULU', 'BARD COLLEGE',
       'ULUSLARARASI FINAL UNIVERSITESI',
       'FATIH SULTAN MEHMET UNIVERSITESI',
       'ISTANBUL TOPKAPI UNIVERSITESI',
       'ANKARA SOSYAL BILIMLER UNIVERSITESI KUZEY KIBRIS KAMPUSU',
       'JANDARMA VE SAHIL GUVENLIK AKADEMISI(ASKERI)',
       'MILLI SAVUNMA UNIVERSITESI (ASKERÎ)'], dtype=object)

In [20]:
new_data["Universite Tag"] = label_names(data, "Universite Adi", "Universite")

# Bölüm Normalize ve Etiketlendirme

In [42]:
# kolonunu normalize ediyoruz
data['Bölüm'] = data['Bölüm'].apply(normalize_names)

# Sonuçları gösterelim
print(data['Bölüm'].value_counts())

Bölüm
BILGISAYAR MUHENDISLIGI               817
ENDUSTRI MUHENDISLIGI                 635
TIP                                   456
ISLETME                               425
HUKUK                                 383
                                     ...
JAPONCA OGRETMENLIGI                    1
ISTATISTIK VE BILGISAYAR BILIMLERI      1
FILM TASARIMI VE YAZARLIGI              1
ISLETME BILGI YONETIMI                  1
ISPANYOL DILI VE EDEBIYATI              1
Name: count, Length: 349, dtype: int64

In [11]:
df["Bölüm"] = pd.DataFrame(data["Bölüm"].unique())

In [39]:
(pd.DataFrame(df)).to_csv("datathon-2024/bolum.csv", index=False)

In [43]:
# new_data["Bolum"] = label_names(data, "Bölüm", "bolum")
new_data = pd.read_csv("datathon-2024/tag-test-data.csv")

In [ ]:
new_data

In [44]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.cluster import KMeans

# 1. TF-IDF vektörizasyonu (bölüm isimlerini vektörlere dönüştürme)
tfidf = TfidfVectorizer(ngram_range=(1, 2))
tfidf_matrix = tfidf.fit_transform(data['Bölüm'].fillna('None'))

# 2. KMeans kümeleme (kategori sayısını bilmediğimiz için deneme yanılma ile seçilebilir)
num_clusters = 100  # Farklı sayılar deneyebilirsiniz
kmeans = KMeans(n_clusters=num_clusters, random_state=0)
new_data["Bolum"] = kmeans.fit_predict(tfidf_matrix)

In [25]:
import matplotlib.pyplot as plt
from sklearn.decomposition import PCA


# Kategorilerin sayısını almak
category_counts = df3.value_counts().sort_index()

# Bar grafiği oluşturma
plt.figure(figsize=(8, 6))
category_counts.plot(kind='bar', color='skyblue')

# Grafik başlığı ve etiketler
plt.title("Her Kategorideki Bölüm Sayısı", fontsize=14)
plt.xlabel("Kategori Numarası", fontsize=12)
plt.ylabel("Bölüm Sayısı", fontsize=12)

# Grafik gösterimi
plt.show()

AttributeError: 'numpy.ndarray' object has no attribute 'value_counts'

In [26]:
df3

array([ 4, 40,  3, ...,  3, 92, 55])

# 2. Okul

In [125]:
new_data['ikinci okul'] = (data['Daha Once Baska Bir Universiteden Mezun Olmus'].apply(lambda x: 1 if x == 'EVET' else (0 if x == 'HAYIR' else None))).fillna(0).astype(int)

C:\Users\ahayd\AppData\Local\Temp\ipykernel_16356\1954574886.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  new_data['ikinci okul'] = (data['Daha Once Baska Bir Universiteden Mezun Olmus'].apply(lambda x: 1 if x == 'EVET' else (0 if x == 'HAYIR' else None))).fillna(0).astype(int)

In [ ]:
data

# lise bölümü

In [126]:
data["Lise Bolumu"] = data["Lise Bolumu"].apply(normalize_names)

In [127]:
new_data["lise bolum"] = label_names(data, "Lise Bolumu", "lise-bolum")

In [128]:
print(data['Lise Bolumu'].value_counts())

Lise Bolumu
SAYISAL         6354
ESIT AGIRLIK    3224
SOZEL           1152
DIL              319
Name: count, dtype: int64

# üni türü

In [129]:
new_data["Universite Turu"] = (data["Universite Turu"].apply(lambda x: 1 if x == 'ÖZEL' else (0 if x == 'DEVLET' else None))).fillna(0).astype(int)

# Kaçıncı Sınıf

In [130]:
def map_class_status(status):
    if status == 'HAZIRLIK':
        return -1
    elif status == 'MEZUN':
        return -2
    elif status == 'YÜKSEK LISANS':
        return -3
    elif status == 'TEZ':
        return -4
    elif pd.isna(status):
        return -5  # Opsiyonel: NaN değerler için geri dönüş
    else:
        return int(status)  # Sayı olarak belirtilmişse dönüştürüyoruz

# Fonksiyonu uyguluyoruz
new_data['Sinif'] = data["Universite Kacinci Sinif"].apply(map_class_status)

# Not Ortalaması

In [131]:
data["Universite Not Ortalamasi"].unique()

array(['2.50 - 2.99', 'HAZIRLIĞIM', '3.00 - 3.49', '1.80 - 2.49',
       '3.50 - 4.00', '0 - 1.79'], dtype=object)

In [132]:
def map_gpa_range(gpa):
    if pd.isna(gpa):
        return np.nan  # NaN değerler için geri dönüş
    elif 'HAZIRLIĞIM' in gpa:
        return -1
    elif 'NOT ORTALAMASI YOK' in gpa:
        return -2
    elif 'ORTALAMA BULUNMUYOR' in gpa:
        return -3
    elif '3.50' in gpa or '4.0' in gpa:
        return 1
    elif '3.00' in gpa or '3.50' in gpa:
        return 2
    elif '2.50' in gpa:
        return 3
    elif '2.00' in gpa:
        return 4
    elif '1.00' in gpa:
        return 5
    elif '0' in gpa:
        return 6
    else:
        return 0  # Bilinmeyen durumlar için varsayılan etiket
    


new_data['Not Ortalamasi'] = (data['Universite Not Ortalamasi'].apply(map_gpa_range)).fillna(0).astype(int)

In [133]:
labels_description = {
    'HAZIRLIĞIM': -1,
    'NOT ORTALAMASI YOK': -2,
    'ORTALAMA BULUNMUYOR': -3,
    '3.50 - 4.00 veya 4.0 - 3.5': 1,
    '3.00 veya 3.00 - 3.50': 2,
    '2.50 veya 2.50 - 3.00': 3,
    '2.00 veya 2.00 - 2.50': 4,
    '1.00 veya 1.00 - 2.50': 5,
    '0 - 1.79': 6,
    'Bilinmeyen veya diğer durumlar': 6
}

labels_df = pd.DataFrame(list(labels_description.items()), columns=['Description', 'labels'])

# Etiket açıklamalarını CSV dosyasına kaydediyoruz
labels_df.to_csv('labels/ortalama_labels.csv', index=False)

In [97]:
# new_data.to_csv("datathon-2024/tag-data.csv", index=False)

# lise türü

In [134]:
def label_highschool_types(df, column_name, file_name):
    # Liseleri normalize ederek grupluyoruz
    df[column_name] = df[column_name].astype(str).str.strip().str.upper()
    
    # Kategorilere göre etiket numaraları
    highschool_labels = {
        'ANADOLU LISESI': 1, 'DÜZ LISE': 1, 'DEVLET': 1,
        'MESLEK LISESI': 2, 'MESLEK': 2,
        'FEN LISESI': 3,
        'ÖZEL LISESI': 4, 'ÖZEL LISE': 4, 'ÖZEL': 4,
        'DIĞER': 5
    }
    
    # Nan değerler için 0 etiketi ekliyoruz
    df[column_name] = df[column_name].replace('nan', pd.NA)  # NaN değerlerini temizle
    new_col = df[column_name].map(highschool_labels).fillna(0).astype(int)
    
    # Etiketleri ayrı bir CSV dosyasına kaydediyoruz
    labels_df = pd.DataFrame(list(highschool_labels.items()), columns=['lise tur', 'labels'])
    labels_df.to_csv(f'labels/{file_name}_labels.csv', index=False)
    
    return new_col


new_data["lise tur"] =  label_highschool_types(data, 'Lise Turu',  'lise-tur')

# Ebeveyin Eğitim

In [135]:
data["Anne Egitim Durumu"].unique()

array(['İLKOKUL', 'YÜKSEK LISANS', 'ÜNIVERSITE', 'EĞITIMI YOK', 'LISE',
       'ORTAOKUL', 'DOKTORA'], dtype=object)

In [136]:
data["Baba Egitim Durumu"].unique()

array(['ORTAOKUL', 'İLKOKUL', 'ÜNIVERSITE', 'LISE', 'YÜKSEK LISANS',
       'DOKTORA', 'EĞITIMI YOK'], dtype=object)

In [137]:
import pandas as pd

def label_education(df, column_name, file_name):
    # Eğitim durumlarını normalize ederek temizleyin
    df[column_name] = df[column_name].astype(str).str.strip().str.upper()
    
    # Eğitim durumlarına göre etiket numaraları
    education_labels = {
        'ÜNIVERSITE': 1, 'ÜNIVERSITE MEZUNU': 1, 'ÜNİVERSİTE': 1,
        'YÜKSEK LISANS / DOKTORA': 2, 'YÜKSEK LISANS / DOKTARA': 2, 
        'YÜKSEK LISANS': 2, 'YÜKSEK LİSANS': 2, 'DOKTORA': 2,
        'LISE': 3, 'LİSE': 3, 'LISE MEZUNU': 3,
        'ORTAOKUL MEZUNU': 4, 'ORTAOKUL': 4,
        'İLKOKUL MEZUNU': 5, 'İLKOKUL': 5,
        'EĞITIM YOK': 6, 'EĞİTİM YOK': 6, 'EĞITIMI YOK': 6,
        '0': 6  # Sayısal 0 değerleri için
    }
    
    # Nan değerler için 0 etiketi ekliyoruz
    df[column_name] = df[column_name].replace('nan', pd.NA)  # NaN değerlerini temizle
    new_column = df[column_name].map(education_labels).fillna(0).astype(int)
    
    # Etiketleri ayrı bir CSV dosyasına kaydediyoruz
    labels_df = pd.DataFrame(list(education_labels.items()), columns=['egitim durum', 'labels'])
    labels_df.to_csv(f'{file_name}_labels.csv', index=False)
    
    return new_column



# Anne ve baba eğitim durumlarını etiketleyelim
new_data["anne egitim"] = label_education(data, 'Anne Egitim Durumu', 'anne-egitim')
new_data["baba egitim"] = label_education(data, 'Baba Egitim Durumu', 'baba-egitim')

# Ebeveyin Çalışma Durumu

In [46]:
org_data = pd.read_csv('datathon-2024/test_x.csv')

In [47]:
new_data['anne calisma'] = label_names(org_data, 'Anne Calisma Durumu', 'anne-is')
new_data['baba calisma'] = label_names(org_data, 'Baba Calisma Durumu', 'baba-is')

# Kulüp-STK-Girişim

In [138]:

# kulüp üyeliği
new_data['kulup'] = (data["Girisimcilik Kulupleri Tarzi Bir Kulube Uye misiniz?"].apply(lambda x: 1 if x == 'EVET' else (0 if x == 'HAYIR' else None))).fillna(0).astype(int)


#stk projesi
new_data['stk proje'] = (data['Stk Projesine Katildiniz Mi?'].apply(lambda x: 1 if x == 'EVET' else (0 if x == 'HAYIR' else None))).fillna(0).astype(int)

#girişim
new_data['girisim'] = (data['Girisimcilikle Ilgili Deneyiminiz Var Mi?'].apply(lambda x: 1 if x == 'EVET' else (0 if x == 'HAYIR' else None))).fillna(0).astype(int)

C:\Users\ahayd\AppData\Local\Temp\ipykernel_16356\1324958325.py:6: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  new_data['stk proje'] = (data['Stk Projesine Katildiniz Mi?'].apply(lambda x: 1 if x == 'EVET' else (0 if x == 'HAYIR' else None))).fillna(0).astype(int)

In [110]:
# new_data.to_csv("datathon-2024/tag-data.csv", index=False)

# İngilizce Seviye

In [139]:
def map_level(status):
    if pd.isna(status) or status == '0': return 0
    if status == 'BAŞLANGIÇ': return 1
    if status == 'ORTA': return 2
    if status == 'İLERİ': return 3



new_data['ingilizce'] = (data["Ingilizce Seviyeniz?"].apply(map_level)).fillna(0).astype(int)

# Cinsiyet

In [140]:
new_data['cinsiyet'] = (data['Cinsiyet'].apply(lambda x: 1 if x == 'ERKEK' else (0 if x == 'KADIN' else None))).fillna(1).astype(int)

düzeltmeler

In [108]:
new_data["id"] = org["id"]
# new_data["puan"] = org["Degerlendirme Puani"]

In [109]:
new_data

,Sehir Tag,Universite Tag,Bolum,ikinci okul,lise bolum,Universite Turu,Sinif,Not Ortalamasi,lise tur,anne egitim,baba egitim,kulup,stk proje,girisim,ingilizce,cinsiyet,id,puan
0,14,126,388,0,342,1,3,1,1,1,1,1,1,0,0,1,0,52.0
1,81,126,1083,0,342,1,3,2,1,1,2,0,1,1,0,1,1,30.0
2,81,279,1550,0,131,1,1,0,2,5,5,1,0,0,0,1,2,18.0
3,81,156,388,0,404,1,3,2,3,5,1,1,1,0,0,1,3,40.0
4,14,272,4194,0,474,1,-5,2,4,5,1,0,0,0,0,1,4,24.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65120,81,136,3386,0,173,1,2,6,1,5,4,0,0,0,0,1,65120,0.0
65121,117,221,4601,0,173,0,1,-1,1,3,3,0,0,0,0,1,65121,0.0
65122,115,260,3619,0,404,0,4,6,1,3,3,0,0,0,0,1,65122,0.0
65123,131,185,4007,0,449,0,3,6,1,5,3,0,0,0,0,1,65123,0.0
65124,77,106,2326,0,110,0,4,3,1,5,5,0,0,1,0,0,65124,NaN

In [142]:
new_data.to_csv("datathon-2024/tag-test-data.csv")

# Doğum Tarihi

In [50]:
yas = pd.read_csv('datathon-2024/clean-test-data-yas.csv')

In [56]:
# new_data['Yas'] = yas["Yas"]
# new_data['Yas'].fillna(21)

# new_data['Basvuru Yili'] = 2023

In [ ]:
new_data

In [53]:
mean_age = yas["Yas"].mean()

data["Yas"].fillna(21)

21.2736899266902

In [37]:
new_data['yas'] = data["Yas"]
new_data['Basvuru Yili'] = data['Basvuru Yili']

In [58]:
new_data.to_csv('datathon-2024/tag-test-data.csv', index=False)

# kardes Sayısı

In [ ]:
org_data['Kardes Sayisi'].mean()

In [78]:
new_data['Kardes Sayisi'] = org_data['Kardes Sayisi'].fillna(1)

In [80]:
new_data['Kardes Sayisi']['Kardeş Sayısı 1 Ek Bilgi Aile Hk. Anne Vefat'] = 1

C:\Users\ahayd\AppData\Local\Temp\ipykernel_12808\459832191.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  new_data['Kardes Sayisi']['Kardeş Sayısı 1 Ek Bilgi Aile Hk. Anne Vefat'] = 1
C:\Users\ahayd\AppData\Local\Temp\ipykernel_12808\459832191.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_data['Kardes Sayisi']['Kardeş Sayısı 1 Ek Bilgi Aile Hk. Anne Vefat'] = 1

In [81]:
new_data.to_csv('datathon-2024/tag-data.csv',index=False)